<p-menubar id="p-menu-top" [ngClass]="{'p-menu-top-white': !darkModeStatus}">
    <div class="flex justify-content-between">
        <div class="flex ">
            <h2 class="px-5">Where in the world?</h2>
        </div>
        <div class="flex" (click)="darkMode()">
            <h3 class="px-5"><i class="fa-moon mr-2" [ngClass]="{'fa-solid': darkModeStatus, 'fa-regular': !darkModeStatus}"></i>Dark Mode</h3>
        </div>
    </div>
</p-menubar>
<p-menubar class="mt-5 pt-5" id="p-menu-secondary" [ngClass]="{'bg-white': !darkModeStatus}">
    <div class="" [ngClass]="{'flex justify-content-between': isMobile}">
        <div class="" [ngClass]="{'flex': !isMobile, 'mb-4': isMobile}">
            <span class="p-input-icon-left">
                <i class="pi pi-search ml-5"></i>
                <input class="px-5 ml-5" [ngClass]="{'w-30rem': !isMobile, 'w-20rem': isMobile}" type="text" pInputText placeholder="Search for a country..." (keyup)="searchCountry(country.value)" #country>
            </span>
        </div>
        <div class="" [ngClass]="{'flex': !isMobile}">
            <p-dropdown class="px-5" [options]="region" [(ngModel)]="selectedRegion" (onChange)="getSelecteRegion()"></p-dropdown>
        </div>
    </div>
</p-menubar>